p{
    font-family: Papyrus, cursive ;
    font-weight: 700;
    font-style: normal;
    margin: 3px;
    padding: 3px;

}
button{
    padding: 20px;
    margin: 50px;
}

    img{
    max-width: 100%; 
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#img-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3px;
    padding: 3px;
}
#hidden{
    display:none;
}
body{
    background: #CADCFC;
    color: #00246B;
}
header{
    text-align: center;
    font-family: Papyrus, cursive ;
    font-weight: 700;
    font-size: 400%;
}
p{
    text-align: left;
    
}
img{
    height: 400px
}
function show(){
    alert("The content had changed")
    if (showing == "none"){
        document.getElementById("hidden").style.display = "block"
        showing = "block"
        document.getElementById("button").innerHTML = "Show Less"
    }else{
        document.getElementById("hidden").style.display = "none"
        showing = "none"
        document.getElementById("button").innerHTML = "Show More"
    }
}